@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@300&display=swap');

* {
  box-sizing: border-box; 
  background-image: linear-gradient(var(--lilac), var(--sky), var(--mint), var(--lemon),var(--peach),var(--pink));
  font-family: 'Montserrat Alternates', sans-serif;   
}

:root {
  --pink: #EED8DE; 
  --peach: #FFC182;
  --lemon: #F5F591; 
  --mint: #CBF5B5; 
  --sky: #C2D5EC; 
  --lilac: #E1CFD8; 
}; 

#cover-image img {
  height: 100px; 
  width: auto; 
  background-image: none; 
}

section, main, div, a, h1, h2, h3, h4, h5, h6, img, footer, p, i, span, li, ul, header, nav, label {
  background-image: none;
}

body {
  font-weight: 600;
  font-size: 18px;
} 

a:hover, i:hover {
  background: -webkit-linear-gradient(var(--lilac), var(--sky), var(--mint));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-but {
  padding: 5px;
  background-color: black; 
  border: 3px solid transparent; 
  border-radius: 2px;
  border-image-source: linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
  border-image-slice: 1;
}

button {
  background-color: black; 
  border: 3px solid transparent; 
  border-image-source: linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
  border-image-slice: 1;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

a {
  font-size: 40px;
  font-weight:lighter;
  font-family: 'Monoton', cursive;
  background: -webkit-linear-gradient(var(--pink), var(--peach), var(--lemon), var(--mint),var(--sky),var(--lilac));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-link {
  background-color: black;
}

img {
  max-width: 100%;
}

form {
  width: 40%;
  background-image: none;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid black;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
	width: 600px;
	height: 120px;
}

input:focus, textarea:focus {
  border: 1px solid var(--lilac);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: calc(1rem * 0.5);
  margin-left: calc(1rec *0.5);
}

.mx-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-1 {
  margin-top: calc(1rem * 0.5);
  margin-bottom: calc(1rem * 0.5);
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: calc(2.5rem);
  margin-bottom: calc(2.5rem);
}

.px-1 {
  padding-right: calc(1rem * 0.5);
  padding-left: calc(1rem * 0.5);
}

.px-2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-1 {
  padding-top: calc(1rem * 0.5);
  padding-bottom: calc(1rem * 0.5);
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modalBackdrop {
  background: #00000080;
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: #00000080;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
  color: var(--mint);
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 25px;
}

p, h1 {
  color: var(--mint);
}

button {
	background: black;
	border: 0;
	border-radius: 5px;
	color: var(--lilac);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

.navActive {
  color: var(--sky);
}

.about-sec {
  background-color: black; 
  padding: 10px; 
  border-radius: 10px;
}

.foot-link {
  background-image: none; 
  color: black; 
  margin: 20px;
  padding: 20px; 
}

.foot-link:hover {
  color: var(--sky);
}

.gall-name {
  color: black; 
}

#about-image {
  height: 250px; 
  width: auto; 
}